@font-face {
    font-family: 'Caviar Dreams';
    src: url('../fonts/Caviar_Dreams/CaviarDreams.woff2') format('woff2'),
         url('../fonts/Caviar_Dreams/CaviarDreams.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('../fonts/Caviar_Dreams/CaviarDreams_Bold.woff2') format('woff2'),
         url('../fonts/Caviar_Dreams/CaviarDreams_Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}